{% extends 'base.html' %}

{% block title %}Book Room{% endblock title %}
{% block page %}Book Room{% endblock page %}

{% block body %}

    <!-- Row starts -->
    <div class="row gx-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Book A Room</h5>
                </div>
                <div class="card-body">

                    <!-- Row starts -->
                    <div class="row gx-4">
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="a1">Patient Name</label>
                                <input type="text" class="form-control" id="a1" placeholder="Enter fullname">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="a2">Patient Email</label>
                                <input type="email" class="form-control" id="a2" placeholder="Enter email address">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="a3">Gender</label>
                                <select class="form-select" id="a3">
                                    <option value="0">Select</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="a4">Age</label>
                                <input type="text" class="form-control" id="a4" placeholder="Enter age">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="a5">Patient Phone</label>
                                <input type="number" class="form-control" id="a5" placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="a6">Room Type</label>
                                <select class="form-select" id="a6">
                                    <option value="0">Select</option>
                                    <option value="1">Standard</option>
                                    <option value="2">Deluxe</option>
                                    <option value="3">Suite</option>
                                    <option value="4">Private</option>
                                    <option value="4">Ward</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="a7">Room No</label>
                                <select class="form-select" id="a7">
                                    <option value="0">Select</option>
                                    <option value="1">201</option>
                                    <option value="2">202</option>
                                    <option value="3">203</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-sm-6">
                            <div class="mb-3">
                                <label class="form-label" for="a8">Admission Date</label>
                                <input type="date" class="form-control" id="a8">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="a9">Message</label>
                                <textarea class="form-control" id="a9" placeholder="Enter message" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="d-flex gap-2 justify-content-end">
                                <a href="rooms-allotted.html" class="btn btn-outline-secondary">
                                    Cancel
                                </a>
                                <a href="rooms-allotted.html" class="btn btn-primary">
                                    Book Room
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Row ends -->

                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

{% endblock body %}

