{% extends 'base.html' %}

{% block title %}Blood Donor{% endblock title %}
{% block page %}Blood Donor{% endblock page %}

{% block body %}
    <!-- Row starts -->
    <div class="row gx-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Add Department</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="/admin/department/add-department">
                        <!-- Row starts -->
                        <div class="row gx-4">

                            <div class="col-xxl-3 col-lg-4 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="name">Department Name</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="Enter Department Name" required>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-4 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="email">Department Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="Enter email address" required>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-4 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="head">Department Head</label>
                                    <input type="text" class="form-control" id="head" name="head"
                                           placeholder="Enter Department Head" required>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-4 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="phone">Department Phone</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                           placeholder="Enter phone number" required>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-4 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="inlineRadio1">Status</label>
                                    <div class="m-0">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="status"
                                                   id="active" value="active" checked>
                                            <label class="form-check-label" for="active">Active</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="status"
                                                   id="inactive" value="inactive">
                                            <label class="form-check-label" for="inactive">Inactive</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label" for="message">Message</label>
                                    <textarea class="form-control" id="message" name="message"
                                              placeholder="Enter message" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="d-flex gap-2 justify-content-end">
                                    <a href="departments-list.html" class="btn btn-outline-secondary">
                                        Cancel
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        Add Department
                                    </button>
                                </div>
                            </div>

                        </div>
                        <!-- Row ends -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

{% endblock body %}
{% block heardLink %}

    <!-- Data Tables -->
    <link rel="stylesheet" href="../../../static/assets/vendor/datatables/dataTables.bs5.css">
    <link rel="stylesheet" href="../../../static/assets/vendor/datatables/dataTables.bs5-custom.css">
    <link rel="stylesheet" href="../../../static/assets/vendor/datatables/buttons/dataTables.bs5-custom.css">
{% endblock %}
{% block footerLink %}
    <!-- Data Tables -->
    <script src="../../../static/assets/vendor/datatables/dataTables.min.js"></script>
    <script src="../../../static/assets/vendor/datatables/dataTables.bootstrap.min.js"></script>
    <script src="../../../static/assets/vendor/datatables/custom/custom-datatables.js"></script>

{% endblock footerLink %}