{% extends 'base.html' %}

{% block title %}Hr - Approvals{% endblock title %}
{% block page %}Hr Approvals{% endblock page %}

{% block body %}

    <!-- Row start -->
    <div class="row gx-4">
        <div class="col-sm-12">
            <!-- Card start -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">HR Approvals</h5>
                </div>
                <div class="card-body">

                    <!-- Table start -->
                    <div class="table-responsive">
                        <table id="customButtonsScroll" class="table m-0 align-middle">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Profile</th>
                                <th>Applied For</th>
                                <th>Department</th>
                                <th>HR Name</th>
                                <th>Salary Offered</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Jamaal Calhoun</td>
                                <td>Doctor</td>
                                <td>Psychiatrists</td>
                                <td><img src="/assets/images/doctor3.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Anatomy
                                </td>
                                <td>$150000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Hector Banks</td>
                                <td>Nurse</td>
                                <td>Staff</td>
                                <td><img src="/assets/images/doctor3.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Anatomy
                                </td>
                                <td>$130000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Deena Cooley</td>
                                <td>Doctor</td>
                                <td>Urologist</td>
                                <td><img src="/assets/images/doctor3.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Anatomy
                                </td>
                                <td>$190000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Mitchel Alvarez</td>
                                <td>Doctor</td>
                                <td>Paediatrician</td>
                                <td><img src="/assets/images/doctor1.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Estrada
                                </td>
                                <td>$120000.00</td>
                                <td><span class="badge bg-danger">Rejected</span></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Hector Banks</td>
                                <td>Doctor</td>
                                <td>Gynecologist</td>
                                <td><img src="/assets/images/doctor1.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Estrada
                                </td>
                                <td>$250000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Serge Baldwin</td>
                                <td>Doctor</td>
                                <td>Surgeon</td>
                                <td><img src="/assets/images/doctor5.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Francis
                                </td>
                                <td>$160000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Naomi Agas</td>
                                <td>Nurse</td>
                                <td>Staff</td>
                                <td><img src="/assets/images/doctor5.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Francis
                                </td>
                                <td>$120000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Trugex Malin</td>
                                <td>Nurse</td>
                                <td>Orthopeadic</td>
                                <td><img src="/assets/images/doctor1.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Estrada
                                </td>
                                <td>$130000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Zenaida Frank</td>
                                <td>Doctor</td>
                                <td>Cardiologist</td>
                                <td><img src="/assets/images/doctor3.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Anatomy
                                </td>
                                <td>$150000.00</td>
                                <td><span class="badge bg-warning">Processing</span></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Serge Baldwin</td>
                                <td>Doctor</td>
                                <td>Surgeon</td>
                                <td><img src="/assets/images/doctor5.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Francis
                                </td>
                                <td>$160000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Naomi Agas</td>
                                <td>Nurse</td>
                                <td>Staff</td>
                                <td><img src="/assets/images/doctor5.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Francis
                                </td>
                                <td>$120000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Trugex Malin</td>
                                <td>Nurse</td>
                                <td>Orthopeadic</td>
                                <td><img src="/assets/images/doctor1.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Estrada
                                </td>
                                <td>$130000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Zenaida Frank</td>
                                <td>Doctor</td>
                                <td>Cardiologist</td>
                                <td><img src="/assets/images/doctor3.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Anatomy
                                </td>
                                <td>$150000.00</td>
                                <td><span class="badge bg-warning">Processing</span></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Serge Baldwin</td>
                                <td>Doctor</td>
                                <td>Surgeon</td>
                                <td><img src="/assets/images/doctor5.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Francis
                                </td>
                                <td>$160000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>Naomi Agas</td>
                                <td>Nurse</td>
                                <td>Staff</td>
                                <td><img src="/assets/images/doctor5.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Francis
                                </td>
                                <td>$120000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>Trugex Malin</td>
                                <td>Nurse</td>
                                <td>Orthopeadic</td>
                                <td><img src="/assets/images/doctor1.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Estrada
                                </td>
                                <td>$130000.00</td>
                                <td><span class="badge bg-success">Selected</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Table end -->

                </div>
            </div>
            <!-- Card end -->

        </div>
    </div>
    <!-- Row end -->

{% endblock body %}

