{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock title %}

{% block body %}

    <!-- Row starts -->
    <div class="row gx-4">
        <div class="col-sm-12 col-12">
            <div class="card">
                <div class="card-body">

                    <div id="googleView"></div>

                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->
    <!-- Calendar CSS -->
    <link rel="stylesheet" href="../../../static/assets/vendor/calendar/css/main.min.css">
    <link rel="stylesheet" href="../../../static/assets/vendor/calendar/css/custom.css">
    <!-- Date Range JS -->
    <script src="../../../static/assets/vendor/daterange/daterange.js"></script>
    <script src="../../../static/assets/vendor/daterange/custom-daterange.js"></script>
    <!-- Calendar JS -->
    <script src="../../../static/assets/vendor/calendar/js/main.min.js"></script>
    <script src="../../../static/assets/vendor/calendar/custom/google-view-calendar.js"></script>
{% endblock body %}

