{% extends 'base.html' %}

{% block title %}Staff Leaves{% endblock title %}
{% block page %}Staff Leaves{% endblock page %}

{% block body %}
    <!-- Row starts -->
    <div class="row gx-4">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">

                    <!-- Table starts -->
                    <div class="table-responsive">
                        <table id="scrollVertical2" class="table truncate m-0 align-middle">
                            <thead>
                            <tr>
                                <th>Emp ID</th>
                                <th>Emp Name</th>
                                <th>Position</th>
                                <th>Jan</th>
                                <th>Feb</th>
                                <th>Mar</th>
                                <th>Apr</th>
                                <th>May</th>
                                <th>Jun</th>
                                <th>Jul</th>
                                <th>Aug</th>
                                <th>Sep</th>
                                <th>Oct</th>
                                <th>Nov</th>
                                <th>Dec</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>MES-896</td>
                                <td><img src="../../../static/assets/images/doctor.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">
                                    Deena Cooley
                                </td>
                                <td>Surgeon</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2</td>
                                <td>1</td>
                                <td>3</td>
                                <td>0</td>
                                <td>1</td>
                                <td>2</td>
                                <td>1</td>
                                <td>3</td>
                                <td>0</td>
                                <td>5</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>MES-345</td>
                                <td><img src="../../../static/assets/images/doctor4.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">
                                    Bennett Lucero
                                </td>
                                <td>Cardiologist</td>
                                <td>0</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                                <td>2</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                                <td>2</td>
                                <td>2</td>
                                <td>3</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>MES-762</td>
                                <td>
                                    <img src="../../../static/assets/images/doctor2.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">
                                    Alison Estrada
                                </td>
                                <td>Urologist</td>
                                <td>2</td>
                                <td>1</td>
                                <td>2</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>3</td>
                                <td>1</td>
                                <td>2</td>
                                <td>4</td>
                                <td>1</td>
                                <td>17</td>
                            </tr>
                            <tr>
                                <td>MES-324</td>
                                <td>
                                    <img src="../../../static/assets/images/doctor3.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Hector
                                    Banks
                                </td>
                                <td>Physical Therapy</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2</td>
                                <td>2</td>
                                <td>0</td>
                                <td>2</td>
                                <td>0</td>
                                <td>1</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>MES-560</td>
                                <td>
                                    <img src="../../../static/assets/images/doctor5.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">
                                    Owen Scott
                                </td>
                                <td>Rheumatologist</td>
                                <td>2</td>
                                <td>3</td>
                                <td>1</td>
                                <td>0</td>
                                <td>1</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                                <td>0</td>
                                <td>1</td>
                                <td>2</td>
                                <td>8</td>
                                <td>22</td>
                            </tr>
                            <tr>
                                <td>MES-223</td>
                                <td>
                                    <img src="../../../static/assets/images/doctor2.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">
                                    Erica Vaughn
                                </td>
                                <td>Gynecologist</td>
                                <td>2</td>
                                <td>1</td>
                                <td>4</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>MES-980</td>
                                <td>
                                    <img src="../../../static/assets/images/doctor1.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">Cody
                                    Bruce
                                </td>
                                <td>Orthopeadic</td>
                                <td>1</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>1</td>
                                <td>2</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>MES-665</td>
                                <td>
                                    <img src="../../../static/assets/images/doctor5.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">
                                    Lael Greer
                                </td>
                                <td>Audiologists</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>MES-453</td>
                                <td>
                                    <img src="../../../static/assets/images/doctor4.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">
                                    Naomi Wolfe
                                </td>
                                <td>Psychiatrists</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2</td>
                                <td>1</td>
                                <td>3</td>
                                <td>0</td>
                                <td>1</td>
                                <td>2</td>
                                <td>1</td>
                                <td>3</td>
                                <td>0</td>
                                <td>5</td>
                                <td>19</td>
                            </tr>
                            <tr>
                                <td>MES-224</td>
                                <td>
                                    <img src="../../../static/assets/images/doctor3.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">
                                    Helena Frazier
                                </td>
                                <td>Regional Director</td>
                                <td>2</td>
                                <td>1</td>
                                <td>0</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>2</td>
                                <td>1</td>
                                <td>4</td>
                                <td>0</td>
                                <td>0</td>
                                <td>1</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>MES-167</td>
                                <td>
                                    <img src="../../../static/assets/images/doctor2.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">
                                    Mitchel Alvarez
                                </td>
                                <td>Paediatrician</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2</td>
                                <td>0</td>
                                <td>3</td>
                                <td>0</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>3</td>
                                <td>0</td>
                                <td>3</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>MES-008</td>
                                <td>
                                    <img src="../../../static/assets/images/doctor.png" class="img-2x rounded-5 me-1"
                                         alt="Doctors Admin Template">
                                    Dirk Meadows
                                </td>
                                <td>Cardiologists</td>
                                <td>1</td>
                                <td>0</td>
                                <td>2</td>
                                <td>1</td>
                                <td>3</td>
                                <td>0</td>
                                <td>1</td>
                                <td>2</td>
                                <td>1</td>
                                <td>3</td>
                                <td>0</td>
                                <td>5</td>
                                <td>19</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Table ends -->

                </div>
            </div>
        </div>
    </div>
    <!-- Row ends -->

{% endblock body %}

