{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock title %}

{% block body %}

    <!-- Row start -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <!-- Row start -->
                    <div class="row">
                        <div class="col-xxl-3 col-sm-3 col-12">
                            <img src="../../../static/assets/images/logo.svg" alt="Bootstrap Admin Dashboard" class="img-fluid">
                        </div>
                        <div class="col-sm-9 col-12">
                            <div class="text-end">
                                <p class="mb-2">
                                    Invoice - <span class="text-danger">#009</span>
                                </p>
                                <p class="mb-2">October 20th 2024</p>
                                <span class="badge bg-danger">Overdue</span>
                            </div>
                        </div>
                        <div class="col-12 mb-5"></div>
                    </div>
                    <!-- Row end -->

                    <!-- Row start -->
                    <div class="row justify-content-between">
                        <div class="col-lg-6 col-12">
                            <h6 class="fw-semibold">Billed To :</h6>
                            <p class="m-0">
                                Hamspire Jordan,<br>
                                8900 Gilsion Ave,<br>
                                San Francisco, California(CA), 66789
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="text-end">
                                <h6 class="fw-semibold">Hospital Address :</h6>
                                <p class="text-end m-0">
                                    Clove LTD, 76890 St. <br>
                                    5000 thomos Street, Suite 980<br>
                                    Huntsville, Alabama, 87890
                                </p>
                            </div>
                        </div>
                        <div class="col-12 mb-3"></div>
                    </div>
                    <!-- Row end -->

                    <!-- Row start -->
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Medecine</th>
                                        <th>No.Of Days</th>
                                        <th>Amount (Net)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h6>Bootstrap Admin Template</h6>
                                            <p>
                                                Create quality mockups and prototypes and
                                                Design mobile based features.
                                            </p>
                                        </td>
                                        <td>
                                            <h6>Doedlcline</h6>
                                        </td>
                                        <td>
                                            <h6>40</h6>
                                        </td>
                                        <td>
                                            <h6>$7950.00</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>Admin Themes</h6>
                                            <p>
                                                Best Bootstrap Admin Dashboards and Admin
                                                Themes
                                            </p>
                                        </td>
                                        <td>
                                            <h6>Navbpyoxen</h6>
                                        </td>
                                        <td>
                                            <h6>60</h6>
                                        </td>
                                        <td>
                                            <h6>$3690.00</h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                        <td>
                                            <p>Subtotal</p>
                                            <p>Discount</p>
                                            <p>VAT</p>
                                            <h5 class="mt-4 text-primary">Total USD</h5>
                                        </td>
                                        <td>
                                            <p>$16890.00</p>
                                            <p>$60.00</p>
                                            <p>$95.00</p>
                                            <h5 class="mt-4 text-primary">$16725.00</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <h6 class="text-danger">NOTES</h6>
                                            <p class="small m-0">
                                                We really appreciate your business and if
                                                there’s anything else we can do, please
                                                let us know! Also, should you need us to
                                                add VAT or anything else to this order,
                                                it’s super easy since this is a template,
                                                so just ask!
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->

                    <!-- Row start -->
                    <div class="row">
                        <div class="col-sm-12 col-12">
                            <div class="d-flex justify-content-end gap-2">
                                <button class="btn btn-outline-secondary">
                                    Download
                                </button>
                                <button class="btn btn-outline-secondary">
                                    Print
                                </button>
                                <button class="btn btn-primary">
                                    Pay Now
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->

{% endblock body %}

