<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealthTrack - {% block title %}{% endblock title %}</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.svg') }}">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/remix/remixicon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.min.css') }}">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='assets/vendor/overlay-scroll/OverlayScrollbars.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/daterange/daterange.css') }}">

    {% block heardLink %}{% endblock heardLink %}

</head>


<body>

{% include 'layout/loading.html' %}

<!-- Page wrapper starts -->
<div class="page-wrapper">

    <!-- Main container starts -->
    <div class="main-container">

        <!-- Sidebar wrapper starts -->
        {% include 'layout/sidebar_menu.html' %}


        <!-- App container starts -->
        <div class="app-container">

            <!-- App header starts -->
            <div class="app-header d-flex align-items-center">

                <!-- Brand container sm starts -->
                <div class="brand-container-sm d-xl-none d-flex align-items-center">

                    <!-- App brand starts -->
                    <div class="app-brand">
                        <a href="index.html">
{#                            <img src="../static/assets/images/logo.svg" class="logo" alt="Dental Care Admin Template">#}
                            <img src="{{ url_for('static', filename='assets/images/logo.svg') }}"  class="logo" alt="Dental Care Admin Template">

                        </a>
                    </div>
                    <!-- App brand ends -->

                    <!-- Toggle sidebar starts -->
                    <button type="button" class="toggle-sidebar">
                        <i class="ri-menu-line"></i>
                    </button>
                    <!-- Toggle sidebar ends -->

                </div>
                <!-- Brand container sm ends -->

                <!-- Search container starts -->
                <div class="search-container d-xl-block d-none">
                    <input type="text" class="form-control" id="searchId" placeholder="Search">
                    <i class="ri-search-line"></i>
                </div>
                <!-- Search container ends -->

                <!-- App header actions starts -->
                {% include 'layout/header.html' %}
                <!-- App header actions ends -->

            </div>
            <!-- App header ends -->

            <!-- App hero header starts -->
            <div class="app-hero-header d-flex align-items-center">

                <!-- Breadcrumb starts -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin/dashboard">
                            <i class="ri-home-3-line"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item text-primary" aria-current="page">
                        {% block page %}{% endblock page %}
                    </li>
                </ol>
                <!-- Breadcrumb ends -->

                <!-- Sales stats starts -->
                <div class="ms-auto d-lg-flex d-none flex-row">
                    <div class="input-group">
                <span class="input-group-text bg-primary-lighten">
                  <i class="ri-calendar-2-line text-primary"></i>
                </span>
                        <input type="text" id="abc" class="form-control custom-daterange">
                    </div>
                </div>
                <!-- Sales stats ends -->

            </div>
            <!-- App Hero header ends -->

            <!-- App body starts -->
            <div class="app-body">
                {% block body %} {% endblock body %}
            </div>
            <!-- App body ends -->

            <!-- App footer starts -->
            {% include 'layout/footer.html' %}

            <!-- App footer ends -->

        </div>
        <!-- App container ends -->

    </div>
    <!-- Main container ends -->

</div>
<!-- Page wrapper ends -->
<!-- Required jQuery first, then Bootstrap Bundle JS -->
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/moment.min.js') }}"></script>

<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/overlay-scroll/custom-scrollbar.js') }}"></script>

<!-- Date Range JS -->
<script src="{{ url_for('static', filename='assets/vendor/daterange/daterange.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendor/daterange/custom-daterange.js') }}"></script>

{% block footerLink %}{% endblock footerLink %}
<!-- Custom JS files -->
<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

</body>
</html>