<!-- Sidebar wrapper starts -->
<nav id="sidebar" class="sidebar-wrapper">

    <!-- Brand container starts -->
    <div class="brand-container d-flex align-items-center justify-content-between">
        <!-- App brand starts -->
        <div class="app-brand ms-3">
            <a href="/">
                <img src="{{ url_for('static', filename='assets/images/logo.svg') }}" class="logo"
                     alt="Hospital Management System">
            </a>
        </div>
        <!-- App brand ends -->

        <!-- Pin sidebar starts -->
        <button type="button" class="pin-sidebar me-3">
            <i class="ri-menu-line"></i>
        </button>
        <!-- Pin sidebar ends -->
    </div>
    <!-- Brand container ends -->

    <!-- Sidebar profile starts -->
    <div class="sidebar-profile">
        <img src="{{ url_for('static', filename='assets/images/doctor5.png') }}"
             class="rounded-5 border border-primary border-3"
             alt="User Profile">
        <h6 class="mb-1 profile-name text-nowrap text-truncate text-primary">{{ session.get('name', 'User') }}</h6>
        <small class="profile-name text-nowrap text-truncate">{{ session.get('role', 'Role') | capitalize }}</small>
    </div>
    <!-- Sidebar profile ends -->

    <!-- Sidebar menu starts -->
    <div class="sidebarMenuScroll">
        <ul class="sidebar-menu">
            {% if session['role'] == 'patient' %}
                <li class="{% if request.path == '/patients/dashboard' %}active current-page{% endif %}">
                    <a href="/patients/dashboard">
                        <i class="ri-home-6-line"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="{% if request.path == '/patients/book-Appointment' %}active current-page{% endif %}">
                    <a href="/patients/book-Appointment">
                        <i class="ri-calendar-2-line"></i>
                        <span class="menu-text">Book Appointment</span>
                    </a>
                </li>
                <li class="{% if request.path == '/patients/upload-patient-reports' or request.path.startswith('/patients/reports') %}active current-page{% endif %}">
                    <a href="/patients/upload-patient-reports">
                        <i class="ri-file-text-line"></i>
                        <span class="menu-text">View Reports</span>
                    </a>
                </li>
                <li class="{% if request.path == '/chat/chat' %}active current-page{% endif %}">
                    <a href="/chat/chat">
                        <i class="ri-chat-1-line"></i>
                        <span class="menu-text">Chat</span>
                    </a>
                </li>
                <li class="{% if request.path == '/patients/get-visitors' %}active current-page{% endif %}">
                    <a href="/patients/get-visitors">
                        <i class="ri-user-line"></i>
                        <span class="menu-text">Visitors</span>
                    </a>
                </li>
                <li class="{% if request.path == '/patients/get-appointments' or request.path.startswith('/patients/appointment') %}active current-page{% endif %}">
                    <a href="/patients/get-appointments">
                        <i class="ri-list-check-2"></i>
                        <span class="menu-text">View Appointments</span>
                    </a>
                </li>
                <li class="{% if request.path == '/patients/operation-request' %}active current-page{% endif %}">
                    <a href="/patients/operation-request">
                        <i class="ri-scissors-line"></i>
                        <span class="menu-text">Operation Request</span>
                    </a>
                </li>
                <li class="{% if request.path == '/patients/get-profile' or request.path.startswith('/patients/profile') %}active current-page{% endif %}">
                    <a href="/patients/get-profile">
                        <i class="ri-user-settings-line"></i>
                        <span class="menu-text">Profile</span>
                    </a>
                </li>

            {% elif session['role'] == 'admin' %}
                <li class="{% if request.path == '/admin/dashboard' %}active current-page{% endif %}">
                    <a href="/admin/dashboard">
                        <i class="ri-home-6-line"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="{% if request.path == '/admin/search' %}active current-page{% endif %}">
                    <a href="/admin/search">
                        <i class="ri-search-line"></i>
                        <span class="menu-text">User Search</span>
                    </a>
                </li>
                <li class="treeview {% if request.path.startswith('/admin/department') or request.path.startswith('/admin/department') or request.path.startswith('/admin/edit-department') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-building-2-line"></i>
                        <span class="menu-text">Departments</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/department/department-list"
                               class="{% if request.path == '/admin/department/department-list' %}active-sub{% endif %}">Departments
                                List</a>
                        </li>
                        <li>
                            <a href="/admin/department/add-department"
                               class="{% if request.path == '/admin/department/add-department' %}active-sub{% endif %}">Add
                                Department</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview {% if request.path.startswith('/admin/doctor') or request.path.startswith('/admin/doctor') or request.path.startswith('/admin/edit-department') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-building-2-line"></i>
                        <span class="menu-text">Doctors</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/doctor/doctor-list"
                               class="{% if request.path == '/admin/doctor/doctor-list' %}active-sub{% endif %}">All
                                Doctors</a>
                        </li>
                        <li>
                            <a href="/admin/doctor/add-doctor"
                               class="{% if request.path == '/admin/doctor/add-doctor' %}active-sub{% endif %}">Add
                                Doctors</a>
                        </li>
                        <li>
                            <a href="/admin/doctor/assign-department"
                               class="{% if request.path == '/admin/doctor/assign-department' %}active-sub{% endif %}">Assign
                                Department</a>
                        </li>
                        <li>
                            <a href="/admin/doctor/shift-management"
                               class="{% if request.path == '/admin/doctor/shift-management' %}active-sub{% endif %}">Shift
                                Management</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview {% if request.path.startswith('/admin/room') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-hotel-bed-line"></i>
                        <span class="menu-text">Rooms</span>

                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/room/room-statistics"
                               class="{% if request.path == '/admin/room/room-statistics' %}active-sub{% endif %}">Statistics</a>
                        </li>
                        <li>
                            <a href="/admin/room/rooms-allotted"
                               class="{% if request.path == '/admin/room/rooms-allotted' %}active-sub{% endif %}">Rooms
                                Allotted</a>
                        </li>
                        <li>
                            <a href="/admin/room/rooms-by-dept"
                               class="{% if request.path == '/admin/room/rooms-by-dept' %}active-sub{% endif %}">Rooms
                                By Department</a>
                        </li>
                        <li>
                            <a href="/admin/room/available-room"
                               class="{% if request.path == '/admin/room/available-room' %}active-sub{% endif %}">Available
                                Rooms</a>
                        </li>
                        <li>
                            <a href="/admin/room"
                               class="{% if request.path == '/admin/room' %}active-sub{% endif %}">Room List</a>
                        </li>
                        <li>
                            <a href="/admin/room/cleaning-logs"
                               class="{% if request.path == '/admin/room/cleaning-logs' %}active-sub{% endif %}">Cleaning
                                Logs</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview {% if request.path.startswith('/admin/ambulance') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-car-washing-line"></i>
                        <span class="menu-text">Ambulance</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/ambulance/ambulance-list"
                               class="{% if request.path == '/admin/ambulance/ambulance-list' %}active-sub{% endif %}">Ambulance
                                List</a>
                        </li>
                        <li>
                            <a href="/admin/ambulance/add-ambulance"
                               class="{% if request.path == '/admin/ambulance/add-ambulance' %}active-sub{% endif %}">Add
                                Ambulance</a>
                        </li>
                        <li>
                            <a href="/admin/ambulance/ambulance-call-list"
                               class="{% if request.path == '/admin/ambulance/ambulance-call-list' %}active-sub{% endif %}">Ambulance
                                Call List</a>
                        </li>
                        <li>
                            <a href="/admin/ambulance/add-driver"
                               class="{% if request.path == '/admin/ambulance/add-driver' %}active-sub{% endif %}">Add
                                Driver</a>
                        </li>
                        <li>
                            <a href="/admin/ambulance/driver-list"
                               class="{% if request.path == '/admin/ambulance/driver-list' %}active-sub{% endif %}">Driver
                                List</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview {% if request.path.startswith('/admin/accounts') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-secure-payment-line"></i>
                        <span class="menu-text">Accounts</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/accounts/income"
                               class="{% if request.path == '/admin/accounts/income' %}active-sub{% endif %}">Income</a>
                        </li>
                        <li>
                            <a href="/admin/accounts/payments"
                               class="{% if request.path == '/admin/accounts/payments' %}active-sub{% endif %}">Payments</a>
                        </li>
                        <li>
                            <a href="/admin/accounts/invoices"
                               class="{% if request.path == '/admin/accounts/invoices' %}active-sub{% endif %}">Invoices</a>
                        </li>
                        <li>
                            <a href="/admin/accounts/invoice-details"
                               class="{% if request.path == '/admin/accounts/invoice-details' %}active-sub{% endif %}">Invoice
                                Details</a>
                        </li>
                        <li>
                            <a href="/admin/accounts/create-invoice"
                               class="{% if request.path == '/admin/accounts/create-invoice' %}active-sub{% endif %}">Create
                                Invoice</a>
                        </li>
                        <li>
                            <a href="/admin/accounts/expenses"
                               class="{% if request.path == '/admin/accounts/expenses' %}active-sub{% endif %}">Expenses</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview {% if request.path.startswith('/admin/human-resources') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-group-2-line"></i>
                        <span class="menu-text">Human Resources</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/human-resources/hr-approvals"
                               class="{% if request.path == '/admin/human-resources/hr-approvals' %}active-sub{% endif %}">HR
                                Approvals</a>
                        </li>
                        <li>
                            <a href="/admin/human-resources/staff-attendance"
                               class="{% if request.path == '/admin/human-resources/staff-attendance' %}active-sub{% endif %}">Attendance</a>
                        </li>
                        <li>
                            <a href="/admin/human-resources/staff-leaves"
                               class="{% if request.path == '/admin/human-resources/staff-leaves' %}active-sub{% endif %}">Staff
                                Leaves</a>
                        </li>
                        <li>
                            <a href="/admin/human-resources/staff-holidays"
                               class="{% if request.path == '/admin/human-resources/staff-holidays' %}active-sub{% endif %}">Holidays</a>
                        </li>
                    </ul>
                </li>
                <!-- Add this after the Human Resources menu item in the admin section -->
                <li class="treeview {% if request.path.startswith('/admin/blood-bank') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-drop-line"></i>
                        <span class="menu-text">Blood Bank</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/blood-bank/stock"
                               class="{% if request.path == '/admin/blood-bank/stock' %}active-sub{% endif %}">Blood
                                Stock</a>
                        </li>
                        <li>
                            <a href="/admin/blood-bank/donor"
                               class="{% if request.path == '/admin/blood-bank/donor' %}active-sub{% endif %}">Blood
                                Donor</a>
                        </li>
                        <li>
                            <a href="/admin/blood-bank/issued"
                               class="{% if request.path == '/admin/blood-bank/issued' %}active-sub{% endif %}">Blood
                                Issued</a>
                        </li>
                    </ul>
                </li>

                <li class="treeview {% if request.path.startswith('/admin/inventory') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-shopping-bag-line"></i>
                        <span class="menu-text">Inventory</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/inventory/stock"
                               class="{% if request.path == '/admin/inventory/stock' %}active-sub{% endif %}">Item Stock
                                List</a>
                        </li>
                        <li>
                            <a href="/admin/inventory/issued"
                               class="{% if request.path == '/admin/inventory/issued' %}active-sub{% endif %}">Issued
                                Items</a>
                        </li>
                    </ul>
                </li>

                <li class="treeview {% if request.path.startswith('/admin/records') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-shopping-bag-line"></i>
                        <span class="menu-text">Records</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/records/death"
                               class="{% if request.path == '/admin/records/death' %}active-sub{% endif %}">Death
                                Records</a>
                        </li>
                        <li>
                            <a href="/admin/records/birth"
                               class="{% if request.path == '/admin/inventory/issued' %}active-sub{% endif %}">Birth
                                Records</a>
                        </li>
                    </ul>
                </li>

                <li class="treeview {% if request.path.startswith('/admin/insurance') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-shield-check-line"></i>
                        <span class="menu-text">Insurance</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/insurance/coverage-types"
                               class="{% if request.path == '/admin/insurance/coverage-types' %}active-sub{% endif %}">Coverage Types</a>
                        </li>
                        <li>
                            <a href="/admin/insurance/patient"
                               class="{% if request.path == '/admin/insurance/patient' %}active-sub{% endif %}">Patient
                                Insurance</a>
                        </li>
                        <li>
                            <a href="/admin/insurance/new-claim"
                               class="{% if request.path == '/admin/insurance/new-claim' %}active-sub{% endif %}">New
                                Claim</a>
                        </li>
                        <li>
                            <a href="/admin/insurance/claim-status"
                               class="{% if request.path == '/admin/insurance/claim-status' %}active-sub{% endif %}">Claim
                                Status</a>
                        </li>
                        <li>
                            <a href="/admin/insurance/provider"
                               class="{% if request.path == '/admin/insurance/provider' %}active-sub{% endif %}">Insurance
                                Provider</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview {% if request.path.startswith('/admin/pharmacy') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-medicine-bottle-line"></i>
                        <span class="menu-text">Pharmacy</span>
                    </a>
                    <ul class="treeview-menu {% if request.path.startswith('/admin/pharmacy/medicine-categories') %}active current-page{% endif %}">
                        <li>
                            <a href="#!">
                                Medicine
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                            <ul class="treeview-menu {% if request.path.startswith('/admin/pharmacy/medicine-categories') %}active current-page{% endif %}">
                                <li>
                                    <a href="/admin/pharmacy/medicine-categories"
                                       class="{% if request.path == '/admin/pharmacy/medicine-categories' %}active-sub{% endif %}">Categories</a>
                                </li>
                                <li>
                                    <a href="/admin/pharmacy/medicine-companies"
                                       class="{% if request.path == '/admin/pharmacy/medicine-companies' %}active-sub{% endif %}">Companies</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/pharmacy/medicine-list"
                               class="{% if request.path == '/admin/pharmacy/medicine-list' %}active-sub{% endif %}">Medicine
                                List</a>
                        </li>
                        <li>
                            <a href="/admin/pharmacy/add-medicine"
                               class="{% if request.path == '/admin/pharmacy/add-medicine' %}active-sub{% endif %}">Add
                                Medicine</a>
                        </li>
                    </ul>
                </li>
                <li class="{% if request.path == '/admin/get-resources' %}active current-page{% endif %}">
                    <a href="/admin/get-resources">
                        <i class="ri-database-line"></i>
                        <span class="menu-text">Resources</span>
                    </a>
                </li>
                <li class="{% if request.path == '/admin/view-doctors' %}active current-page{% endif %}">
                    <a href="/admin/view-doctors">
                        <i class="ri-stethoscope-line"></i>
                        <span class="menu-text">Doctors</span>
                    </a>
                </li>
                <li class="treeview {% if request.path.startswith('/admin/view-staff') or request.path.startswith('/admin/add-staff') %}active current-page{% endif %}">
                    <a href="#!">
                        <i class="ri-nurse-line"></i>
                        <span class="menu-text">Staff</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/view-staff"
                               class="{% if request.path == '/admin/view-staff' %}active-sub{% endif %}">Staff List</a>
                        </li>
                        <li>
                            <a href="/admin/add-staff"
                               class="{% if request.path == '/admin/add-staff' %}active-sub{% endif %}">Add Staff</a>
                        </li>
                    </ul>
                </li>
                <li class="{% if request.path == '/admin/get-operations' %}active current-page{% endif %}">
                    <a href="/admin/get-operations">
                        <i class="ri-scissors-line"></i>
                        <span class="menu-text">Operations</span>
                    </a>
                </li>
                <li class="{% if request.path == '/admin/view-patients' %}active current-page{% endif %}">
                    <a href="/admin/view-patients">
                        <i class="ri-heart-pulse-line"></i>
                        <span class="menu-text">Patients</span>
                    </a>
                </li>
                <li class="{% if request.path == '/admin/leave/applications' %}active current-page{% endif %}">
                    <a href="/admin/leave/applications">
                        <i class="ri-calendar-todo-line"></i>
                        <span class="menu-text">Leave Applications</span>
                    </a>
                </li>

            {% elif session['role'] == 'doctor' %}
                <li class="{% if request.path == '/doctor/dashboard' %}active current-page{% endif %}">
                    <a href="/doctor/dashboard">
                        <i class="ri-home-6-line"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="{% if request.path == '/admin/search' %}active current-page{% endif %}">
                    <a href="/admin/search">
                        <i class="ri-search-line"></i>
                        <span class="menu-text">User Search</span>
                    </a>
                </li>
                <li class="{% if request.path == '/doctor/get-all-appointments' %}active current-page{% endif %}">
                    <a href="/doctor/get-all-appointments">
                        <i class="ri-calendar-check-line"></i>
                        <span class="menu-text">Today's Appointments</span>
                    </a>
                </li>
                <li class="{% if request.path == '/doctor/get-all-booked-appointments' %}active current-page{% endif %}">
                    <a href="/doctor/get-all-booked-appointments">
                        <i class="ri-calendar-line"></i>
                        <span class="menu-text">All Appointments</span>
                    </a>
                </li>
                <li class="{% if request.path == '/doctor/get-referring-appointments' %}active current-page{% endif %}">
                    <a href="/doctor/get-referring-appointments">
                        <i class="ri-share-forward-line"></i>
                        <span class="menu-text">Referred Appointments</span>
                    </a>
                </li>
                <li class="{% if request.path == '/doctor/get-forward-appointment' %}active current-page{% endif %}">
                    <a href="/doctor/get-forward-appointment">
                        <i class="ri-send-plane-line"></i>
                        <span class="menu-text">Forwarded Appointments</span>
                    </a>
                </li>
                <li class="{% if request.path == '/doctor/get-all-operation-request' %}active current-page{% endif %}">
                    <a href="/doctor/get-all-operation-request">
                        <i class="ri-scissors-line"></i>
                        <span class="menu-text">Operation Requests</span>
                    </a>
                </li>
                <li class="{% if request.path == '/doctor/get-teams' %}active current-page{% endif %}">
                    <a href="/doctor/get-teams">
                        <i class="ri-team-line"></i>
                        <span class="menu-text">Team Creation</span>
                    </a>
                </li>
                <li class="{% if request.path == '/chat/chat' %}active current-page{% endif %}">
                    <a href="/chat/chat">
                        <i class="ri-chat-1-line"></i>
                        <span class="menu-text">Chat</span>
                    </a>
                </li>
                <li class="{% if request.path == '/admin/staff/leave/apply' %}active current-page{% endif %}">
                    <a href="/admin/staff/leave/apply">
                        <i class="ri-calendar-todo-line"></i>
                        <span class="menu-text">Apply Leave</span>
                    </a>
                </li>

            {% elif session['role'] == 'laboratory' %}
                <li class="{% if request.path == '/doctor/dashboard' %}active current-page{% endif %}">
                    <a href="/doctor/dashboard">
                        <i class="ri-home-6-line"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="{% if request.path == '/admin/search' %}active current-page{% endif %}">
                    <a href="/admin/search">
                        <i class="ri-search-line"></i>
                        <span class="menu-text">User Search</span>
                    </a>
                </li>
                <li class="{% if request.path == '/laboratory/prescriptions-pending-test-reports' %}active current-page{% endif %}">
                    <a href="/laboratory/prescriptions-pending-test-reports">
                        <i class="ri-flask-line"></i>
                        <span class="menu-text">Laboratory</span>
                    </a>
                </li>
            {% endif %}

            <!-- Common Logout for all roles -->
            <li>
                <a href="/logout">
                    <i class="ri-logout-box-r-line"></i>
                    <span class="menu-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Sidebar menu ends -->

    <!-- Sidebar contact starts -->
    <div class="sidebar-contact">
        <p class="fw-light mb-1 text-nowrap text-truncate">Emergency Contact</p>
        <h5 class="m-0 lh-1 text-nowrap text-truncate">0987654321</h5>
        <i class="ri-phone-line"></i>
    </div>
    <!-- Sidebar contact ends -->

</nav>
<!-- Sidebar wrapper ends -->