<!-- Sidebar wrapper starts -->
<nav id="sidebar" class="sidebar-wrapper">

    <!-- Brand container starts -->
    <div class="brand-container d-flex align-items-center justify-content-between">
        <!-- App brand starts -->
        <div class="app-brand ms-3">
            <a href="/">
                <img src="../../static/assets/images/logo.svg" class="logo" alt="Hospital Management System">
            </a>
        </div>
        <!-- App brand ends -->

        <!-- Pin sidebar starts -->
        <button type="button" class="pin-sidebar me-3">
            <i class="ri-menu-line"></i>
        </button>
        <!-- Pin sidebar ends -->
    </div>
    <!-- Brand container ends -->

    <!-- Sidebar profile starts -->
    <div class="sidebar-profile">
        <img src="../../static/assets/images/doctor5.png" class="rounded-5 border border-primary border-3"
             alt="User Profile">
        <h6 class="mb-1 profile-name text-nowrap text-truncate text-primary">{{ session.get('name', 'User') }}</h6>
        <small class="profile-name text-nowrap text-truncate">{{ session.get('role', 'Role') | capitalize }}</small>
    </div>
    <!-- Sidebar profile ends -->

    <!-- Sidebar menu starts -->
    <div class="sidebarMenuScroll">
        <ul class="sidebar-menu">
            {% if session['role'] == 'patient' %}
                <li class="{{ 'active current-page' if request.path == '/patient/dashboard' }}">
                    <a href="/patient/dashboard">
                        <i class="ri-home-6-line"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/patient/book-Appointment' }}">
                    <a href="/patient/book-Appointment">
                        <i class="ri-calendar-2-line"></i>
                        <span class="menu-text">Book Appointment</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/patient/upload-patient-reports' }}">
                    <a href="/patient/upload-patient-reports">
                        <i class="ri-file-text-line"></i>
                        <span class="menu-text">View Reports</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/chat/chat' }}">
                    <a href="/chat/chat">
                        <i class="ri-chat-1-line"></i>
                        <span class="menu-text">Chat</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/patient/get-visitors' }}">
                    <a href="/patient/get-visitors">
                        <i class="ri-user-line"></i>
                        <span class="menu-text">Visitors</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/patient/get-appointments' }}">
                    <a href="/patient/get-appointments">
                        <i class="ri-list-check-2"></i>
                        <span class="menu-text">View Appointments</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/patient/operation-request' }}">
                    <a href="/patient/operation-request">
                        <i class="ri-scissors-line"></i>
                        <span class="menu-text">Operation Request</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/patient/get-profile' }}">
                    <a href="/patient/get-profile">
                        <i class="ri-user-settings-line"></i>
                        <span class="menu-text">Profile</span>
                    </a>
                </li>

            {% elif session['role'] == 'admin' %}
                <li class="{{ 'active current-page' if request.path == '/admin/dashboard' }}">
                    <a href="/admin/dashboard">
                        <i class="ri-home-6-line"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/admin/search' }}">
                    <a href="/admin/search">
                        <i class="ri-search-line"></i>
                        <span class="menu-text">User Search</span>
                    </a>
                </li>
                <li class=" treeview {{ 'active current-page' if request.path == '/admin/view-departments' }}">
                    <a href="#!">
                        <i class="ri-building-2-line"></i>
                        <span class="menu-text">Departments</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/view-departments">Departments List</a>
                        </li>
                        <li>
                            <a href="/admin/add-department">Add Department</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#!">
                        <i class="ri-hotel-bed-line"></i>
                        <span class="menu-text">Rooms</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="room-statistics.html">Statistics</a>
                        </li>
                        <li>
                            <a href="rooms-allotted.html">Rooms Allotted</a>
                        </li>
                        <li>
                            <a href="rooms-by-dept.html">Rooms By Department</a>
                        </li>
                        <li>
                            <a href="available-rooms.html">Available Rooms</a>
                        </li>
                        <li>
                            <a href="book-room.html">Book Room</a>
                        </li>
                        <li>
                            <a href="add-room.html">Add Room</a>
                        </li>
                        <li>
                            <a href="edit-room.html">Edit Room</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#!">
                        <i class="ri-car-washing-line"></i>
                        <span class="menu-text">Ambulance</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="ambulance-list.html">Ambulance List</a>
                        </li>
                        <li>
                            <a href="add-ambulance.html">Add Ambulance</a>
                        </li>
                        <li>
                            <a href="edit-ambulance.html">Edit Ambulance</a>
                        </li>
                        <li>
                            <a href="ambulance-call-list.html">Ambulance Call List</a>
                        </li>
                        <li>
                            <a href="add-driver.html">Add Driver</a>
                        </li>
                        <li>
                            <a href="edit-driver.html">Edit Driver</a>
                        </li>
                        <li>
                            <a href="driver-list.html">Driver List</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#!">
                        <i class="ri-secure-payment-line"></i>
                        <span class="menu-text">Accounts</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="income.html">Income</a>
                        </li>
                        <li>
                            <a href="payments.html">Payments</a>
                        </li>
                        <li>
                            <a href="invoices.html">Invoices</a>
                        </li>
                        <li>
                            <a href="invoice-details.html">Invoice Details</a>
                        </li>
                        <li>
                            <a href="create-invoice.html">Create Invoice</a>
                        </li>
                        <li>
                            <a href="expenses.html">Expenses</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#!">
                        <i class="ri-group-2-line"></i>
                        <span class="menu-text">Human Resources</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="hr-approvals.html">HR Approvals</a>
                        </li>
                        <li>
                            <a href="staff-attendance.html">Attendance</a>
                        </li>
                        <li>
                            <a href="staff-leaves.html">Staff Leaves</a>
                        </li>
                        <li>
                            <a href="staff-holidays.html">Holidays</a>
                        </li>
                    </ul>
                </li>
                <li class="{{ 'active current-page' if request.path == '/admin/get-resources' }}">
                    <a href="/admin/get-resources">
                        <i class="ri-database-line"></i>
                        <span class="menu-text">Resources</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/admin/view-doctors' }}">
                    <a href="/admin/view-doctors">
                        <i class="ri-stethoscope-line"></i>
                        <span class="menu-text">Doctors</span>
                    </a>
                </li>
                <li class="treeview {{ 'active current-page' if request.path == '/admin/view-staff' }}">
                    <a href="#!">
                        <i class="ri-nurse-line"></i>
                        <span class="menu-text">Staff</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="/admin/view-staff">Staff List</a>
                        </li>
                        <li>
                            <a href="add-staff.html">Add Staff</a>
                        </li>
                        <li>
                            <a href="edit-staff.html">Edit Staff Details</a>
                        </li>
                    </ul>
                </li>
                <li class="{{ 'active current-page' if request.path == '/admin/get-operations' }}">
                    <a href="/admin/get-operations">
                        <i class="ri-scissors-line"></i>
                        <span class="menu-text">Operations</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/admin/view-patients' }}">
                    <a href="/admin/view-patients">
                        <i class="ri-heart-pulse-line"></i>
                        <span class="menu-text">Patients</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/admin/leave/applications' }}">
                    <a href="/admin/leave/applications">
                        <i class="ri-calendar-todo-line"></i>
                        <span class="menu-text">Leave Applications</span>
                    </a>
                </li>

            {% elif session['role'] == 'doctor' %}
                <li class="{{ 'active current-page' if request.path == '/doctor/dashboard' }}">
                    <a href="/doctor/dashboard">
                        <i class="ri-home-6-line"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/admin/search' }}">
                    <a href="/admin/search">
                        <i class="ri-search-line"></i>
                        <span class="menu-text">User Search</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/doctor/get-all-appointments' }}">
                    <a href="/doctor/get-all-appointments">
                        <i class="ri-calendar-check-line"></i>
                        <span class="menu-text">Today's Appointments</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/doctor/get-all-booked-appointments' }}">
                    <a href="/doctor/get-all-booked-appointments">
                        <i class="ri-calendar-line"></i>
                        <span class="menu-text">All Appointments</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/doctor/get-referring-appointments' }}">
                    <a href="/doctor/get-referring-appointments">
                        <i class="ri-share-forward-line"></i>
                        <span class="menu-text">Referred Appointments</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/doctor/get-forward-appointment' }}">
                    <a href="/doctor/get-forward-appointment">
                        <i class="ri-send-plane-line"></i>
                        <span class="menu-text">Forwarded Appointments</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/doctor/get-all-operation-request' }}">
                    <a href="/doctor/get-all-operation-request">
                        <i class="ri-scissors-line"></i>
                        <span class="menu-text">Operation Requests</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/doctor/get-teams' }}">
                    <a href="/doctor/get-teams">
                        <i class="ri-team-line"></i>
                        <span class="menu-text">Team Creation</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/chat/chat' }}">
                    <a href="/chat/chat">
                        <i class="ri-chat-1-line"></i>
                        <span class="menu-text">Chat</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/admin/staff/leave/apply' }}">
                    <a href="/admin/staff/leave/apply">
                        <i class="ri-calendar-todo-line"></i>
                        <span class="menu-text">Apply Leave</span>
                    </a>
                </li>

            {% elif session['role'] == 'laboratory' %}
                <li class="{{ 'active current-page' if request.path == '/doctor/dashboard' }}">
                    <a href="/doctor/dashboard">
                        <i class="ri-home-6-line"></i>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/admin/search' }}">
                    <a href="/admin/search">
                        <i class="ri-search-line"></i>
                        <span class="menu-text">User Search</span>
                    </a>
                </li>
                <li class="{{ 'active current-page' if request.path == '/laboratory/prescriptions-pending-test-reports' }}">
                    <a href="/laboratory/prescriptions-pending-test-reports">
                        <i class="ri-flask-line"></i>
                        <span class="menu-text">Laboratory</span>
                    </a>
                </li>
            {% endif %}

            <!-- Common Logout for all roles -->
            <li>
                <a href="/logout">
                    <i class="ri-logout-box-r-line"></i>
                    <span class="menu-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Sidebar menu ends -->

    <!-- Sidebar contact starts -->
    <div class="sidebar-contact">
        <p class="fw-light mb-1 text-nowrap text-truncate">Emergency Contact</p>
        <h5 class="m-0 lh-1 text-nowrap text-truncate">0987654321</h5>
        <i class="ri-phone-line"></i>
    </div>
    <!-- Sidebar contact ends -->

</nav>
<!-- Sidebar wrapper ends -->