<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealthTrack - error 505</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" href="../../static/assets/images/favicon.svg">

    <!-- *************
			************ CSS Files *************
		************* -->
    <link rel="stylesheet" href="../../static/assets/fonts/remix/remixicon.css">
    <link rel="stylesheet" href="../../static/assets/css/main.min.css">

  </head>

  <body class="error-bg">

    <div class="container">
      <!-- Error container starts -->
      <div class="error-container">

        <h1 class="mb-2">500</h1>
        <h3 class="fw-light mb-4">
          Oops! Something Went Wrong <br>We encountered an unexpected error. Please try again later.
        </h3>
        <a href="/" class="btn btn-danger btn-lg py-2 rounded-5"><i class="ri-home-2-line lh-1 me-1"></i> Back
          to
          Home</a>
      </div>
      <!-- Error container ends -->
    </div>

  </body>

</html>