<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clove Dental Care Admin Template</title>

    <!-- Meta -->
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:title" content="Admin Templates - Dashboard Templates">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <link rel="shortcut icon" href="../../static/assets/images/favicon.svg">

    <!-- *************
			************ CSS Files *************
		************* -->
    <link rel="stylesheet" href="../../static/assets/fonts/remix/remixicon.css">
    <link rel="stylesheet" href="../../static/assets/css/main.min.css">

</head>

<body class="maintenance-bg">

<div class="container">
    <!-- Maintenance container starts -->
    <div class="maintenance-container">

        <h1 class="mb-4 lh-1 display-1">We’ll be back soon!</h1>
        <h4 class="fw-light mb-4">
            Sorry for the inconvenience. We’re performing some maintenance at the moment. We will be back online
            shortly!
        </h4>
        <a href="index.html" class="btn btn-danger btn-lg py-2 rounded-5"><i class="ri-home-2-line lh-1 me-1"></i>
            Back
            to Home</a>

    </div>
    <!-- Maintenance container ends -->

</div>

</body>
</html>